/*base*/
:root{
    /* declarando variáveis */
    --azul:#2c81ff; 
    --preto:#000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* garantir que os elementos tenham o taamanho que eu defini */
}
body{
    background: var(--preto);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 6px;
    color: var(--azul);
    font-family: 'arial black';
    font-size: 40px;
}
header nav a{
    text-decoration: none;
    color: rgb(218, 218, 218);
    margin-right: 10px;
}
header nav a:hover{
    color: #ffffff;
}
/* estilo relacionado ao conteúdo proncipal*/

.anime-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 17px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../images/deathnote.jpg');
    height: 600px;
    background-size:cover;
}
.titulo{
    font-size: 50px;
}
.botao{
background-color: rgba(0,0,0,.50);
border: none;
color: white;
padding: 15px 30px;
margin-right: 15px;
font-size: 17px;
cursor: pointer;  
/* mudando cursor ao entrar em contato com botões */
transition: .3s ease all;
}
.anime-principal .descricao{
    margin-top: 10px;
    margin-bottom : 40px;
}
.botao:hover{
    background-color: white;
    color:black ;
}
.botao i{
    margin-right: 5px;
}